<% include partials/header %>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
     <h2>Profile : <%=user.username%> <%=user.displayName%></h2>
     <hr/>
     <p>email : <%=user.email%></p><br/>
     <br/>
     <a href="/users">Tous les users</a>
     </div>
   </div>
      <!-- Il t'a manqué d'afficher les favorites de l'utilisateur dont on consulte le profil -->
 </div>
<% include partials/footer %>
