<% include partials/header %>
   <h1>Users</h1>
   <hr/>
   Username  : <%=user.username%><br/>
   displayName : <%=user.displayName%><br/>
   email : <%=user.email%><br/>
   <br/>
   <a href="/users">Tous les users</a>
<% include partials/footer %>
