body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header-user {
  color: white;
  margin-right: 15px;
  margin-top: 15px;
}

.glyphicon-star {
  color: #f0ad4e;
  font-size: 30px;
}

.glyphicon-ok {
  color: green;
  font-size: 30px;
}
